@import 'style.css';

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.container {
	flex: auto;
	justify-content: center;
}

#upload {
	opacity: 0;
}

#file-name-field {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
}

.image-area {
	border: 2px dashed var(--secondary);
	padding: 1rem;
	position: relative;
}

.image-area::before {
	content: 'Uploaded image result';
	color: var(--secondary);
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	z-index: 1;
}

.image-area img {
	z-index: 2;
	position: relative;
	max-width: 15rem !important;
	max-height: 15rem !important;
}

.choose-file-box {
	background-color: var(--light-grey);
}

#user-card{
	float:left;
	margin: 50px;
    width:300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:25px 10px 25px 10px;
    background-color: var(--light-grey);
 }

 #user-card img{
    width:300px;
    height: auto;
 }

 #user-card p{
    margin:10px 0 10px 0;
    font-size: 24px;
 }

#user-card a{
	text-decoration: none;
	color: var(--dark-grey);
	display: inline;
}