:root {
	--primary: #00ce9d;
	--secondary: #00a4a6;
	--accent: #8debda;
	--primary-border: #06b189;
	--secondary-border: #088d8f;

	--success: #07ac5f;
	--info: #0dcaf0;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #212529;

	--grey-color: #5c6672;
	--light-grey: #6c6f7f;
	--dark-grey: #313e50;
	--red-light: #ff7043;
	--red-dark: #d84315;
	--pink-light: #ffab91;
	--shadow: #7f0000;
	--line: ##9b9b9b;
	--checkbox-dark-grey: #ccc;
	--checkbox-fill: #2196f3;
	--dark-blue: #0d47a1;
	--light-blue: #90caf9;
	--light-grey: #b0bec5;
}

#logo {
	width: auto;
	height: 70px;
	margin: 10px;
}

.primary-button {
	background-color: var(--primary) !important;
	border: 1px solid var(--primary-border) !important;
	text-align: center !important;
}

.secondary-button {
	background-color: var(--secondary) !important;
	border: 1px solid var(--secondary-border) !important;
	text-align: center !important;
}

.active-link {
	color: var(--secondary);
}

.error {
	color: var(--danger) !important;
}

.success {
	color: var(--success) !important;
}

/* user */
@import 'style.css';
:root {
	--dark-grey: #313e50;
	--grid-rows: 1;
	--grid-cols: 1;
}
#users-container {
	display: inline-grid;
	grid-gap: 1em;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-column-gap: 20px;
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	padding-bottom: 100px;
}
.user-card {
	width: 250px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 25px 0px 25px 0px;
	background-color: var(--light-grey);
}
.user-card p {
	margin: 10px 0 10px 0;
	font-size: 24px;
	word-break: break-all;
}
.user-card:hover {
	box-shadow: 0 0 10px var(--dark-grey);
}
#users-container img {
	width: 64px;
	height: 64px;
}
