.card{
			min-width: calc(100%/5);
		}

		.card-img-top{
			width: 90%;
			margin: auto;
			margin-top: 10px;
		}

		.card-group{
			gap: 10px;
		}

		div#typesContainer >* {
			margin-right:
			10px;
		}